TELEGRAM_TOKEN=<your-bot-token>
OWNER_CHAT_ID=<your-telegram-user-id>

POP3_PROXY=<separate proxy for POP3 protocol>

POLL_THREADS=<threads to use in one polling round>
POLL_INTERVAL=<seconds between polling>
ERR_REPORT_INTERVAL=<seconds between error summary report>

REQUEST_TIMEOUT=60

PREFER_HTML=<whether to prefer html over text body (yes or no)>

SAVE_EMAIL_LOGS=<whether to save raw eml files in logs folder (yes or no)>
DEBUG=<whether to enable debug log level (yes or no)>