[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = ">=2025.2"
tzlocal = "<3.0" # fix Python APScheduler fails: 'Only timezones from the pytz library are supported' error
python-telegram-bot = "<20.0"
pyzmail36 = "~=1.0"
APScheduler = "~=3.6"
pysondb = "~=1.6"
python-dotenv = "~=1.2"
pysocks = "~=1.7"
markdownify = "~=1.2"
requests = "~=2.32"
bcrypt = "~=4.0"
PGPy = "~=0.6"
bleach = "~=6.3.0"
telegramify-markdown = {git = "https://github.com/NyaMisty/telegramify-markdown"}
protonmail-client-python = {git = "https://github.com/NyaMisty/protonmail-client-python"}
setuptools = "<82"

[dev-packages]
pylint = "*"
ipython = "*"

[requires]
python_version = "3.11"
